* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #232136;
  color: #e0def4;
}
h2 {
  color: #f6c177;
  margin-bottom: 20px;
  font-size: 30px;
}
h3 {
  color: #c4a7e7;
}
ul {
  list-style-type: none;
  display: flex;
  background-color: #e0def4;
}
li {
  padding: 10px;
  color: #6e6a86;
}
.style {
  margin: 30px;
  padding: 30px;
  background-color: #44415a;
  border: 2px solid #ea9a97;
  border-radius: 8px;
}
p {
  font-size: 15px;
  color: aqua;
}
